@tailwind base;
@tailwind components;
@tailwind utilities;

/* create custom colors to use with tailwind */
@layer components {
  .bg-primary {
    background-color: #0511f2;
  }

  .bg-secondary {
    background-color: #f2f2f2;
  }

  .bg-third {
    background-color: #3752a6;
  }

  .bg-fourth {
    background-color: #273273;
  }

  .text-primary {
    color: #333;
  }

  .text-secondary {
    color: #273273;
  }

  .text-tertiary {
    color: #777;
  }

  .border-primary {
    border-color: #ccc;
  }

  .border-secondary {
    border-color: #273273;
  }

  .border-tertiary {
    border-color: #eee;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  .btn-secondary:hover {
    background-color: #545b62;
    border-color: #545b62;
    color: #fff;
  }

  .btn-tertiary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  .btn-tertiary:hover {
    background-color: #545b62;
    border-color: #545b62;
    color: #fff;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
    color: #fff;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }

  .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
    color: #fff;
  }

  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: f2f2f2;
}

.shadow-bottom::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.star {
  color: #f2b01e;
}

.about {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] text-primary font-semibold;
}

.typewriter {
  @apply text-2xl xl:text-[36px] xl:leading-[40px] text-secondary font-semibold tracking-wide;
}

.subtitle {
  @apply text-sm font-light;
}

.socials {
  @apply text-4xl xl:text-[36px] xl:leading-[40px] text-primary;
}
